/*#2A5B84- navy blue*/ 
/*#AAC4D1- blue/grey light*/ 
/*#EBC137- gold*/ 
/*#FEFAE1- offwhite/grey*/ 
/*#BD8025- offwhite/grey*/


body{
	text-align: center;
	font-family: Trebuchet MS;
}

#container{
	height:760px;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 2px;
}

#left, #right{
	height:750px;
	display: inline-block;
	vertical-align: top;
}

#right{
	background-color:#FEFAE1;
	width:800px;
	margin-left:-4px;
	overflow:auto;
	color:#2A5B84;

}

#left{
	color:#FEFAE1;
	background-color: #2A5B84;
	width:400px;
}
/*star of editing the left side*/

/*profile image here*/
#profile_img{
	border-radius: 10px;
	position:relative;
	margin-top: 20px;
}

/*style the name*/
#name p{
	font-size:50px;
	margin-top: 10px;
}

#title{
	margin-top: 70px;
}

#title p{
	font-size: 25px;
	margin-top:-40px;
	color:#EBC137;
	margin-bottom: -5px;
}

#location{
	margin-bottom: 30px;
	margin-top: 20px;	
}

#location p{
	font-size: 25px;
	margin-bottom: -6px;
	color:#EBC137;
}

/*heres the hover for duties*/
#on_hover{
	margin-top: 5px;
	font-size: 25px;
	color:#EBC137;
}

#title span, #location span{
	font-size: 10px;
	margin-top:-10px;
}

.nav p{
	color:#EBC137;
	display: inline-block;
}

#quote{
	border: 2px dotted white;
	margin-left: 5px;
	margin-right: 5px;
}

a{
	color:#EBC137;
	text-decoration:none;
}


/*things on the right*/
#nav_class{
	text-align: center;
}

.navigation{
	padding:20px;
	text-align: center;
	color:#EBC137;
	list-style: none;
	margin-left: -40px;
}


.tabcontent{
	display: none;
}
/*how to tget a border around the page icon that it is on*/
.tablinks.active{
	/*border:2px dotted #EBC137;*/
	font-size: 30px;
}


.tabcontent.active{
	display: block;
}




#Home i{
	font-size: 100px;
}

.content_description{
	text-align: center;
	display: inline-block;
	vertical-align: top;
		border-right:1px solid #EBC137;
	padding-top: 20px;
	width:250px;
	height:530px;
	font-size: 20px;
}

.content_description span{
	font-size: 12px;
	margin-top: -50px;
	color:#EBC137;
	background-color:#2A5B84;
	border-radius: 5px;
	padding:10px;

}

#name{
	margin-top: 30px;
	
}

.navigation:hover{
	background-color: #AAC4D1;
	color:#2A5B84;
}






